.gameOverBox {
  @include conteinter;
  .gameOver {
    @include mainBox;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      h1 {
        font-size: 50px;
      }
      h2 {
        margin: 30px 0;
      }
      button {
        @include buttons;
      }
  }
}