@mixin conteinter {
  display: flex;
  justify-content: center;
}

@mixin mainBox {
  width: 1300px;
  height: 800px;
  margin-top: 80px;
  background: rgba(150, 150, 150, 0.6);
  border-radius: 10px;
}

@mixin columns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.conteiner {
  @include conteinter;
  .mainBox {
    @include mainBox;
    @include columns;
    h1 {
      margin-bottom: 50px;
      font-size: 40px;
    }
    button {
      font-size: 20px;
      background: lightpink;
      width: 250px;
      height: 100px;
      border-radius: 5px;
      border: 1px solid black;
    }
  }
}